<main class="uk-flex uk-child-height-expand" uk-height-viewport="expand">

    <ul uk-height-viewport="expand" style="border-right: 1px solid orange; overflow: scroll; height: 100px;"
        class="uk-padding-small uk-child-width-expand uk-width-1-4 uk-list uk-list-divider uk-visible@s">
        <° ./View/Comp/docs-list.html °>
    </ul>
    
    <div class="uk-padding uk-child-width-expand uk-width-expand" 
         uk-height-viewport="expand"  style="overflow: scroll; height: 100px;"> 
    </div>

</main> <hr>

<div id="offcanvas-docs" class="uk-hidden@s" uk-offcanvas >
    <div class="uk-offcanvas-bar"> <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-padding-xsmall uk-child-width-expand uk-list uk-list-divider"
            uk-height-viewport="expand" >
            <° ./View/Comp/docs-list.html °>
        </ul>
    </div>
</div>

<script>

    function load( path ) {
        fetch( `${window.origin}/${path}` )
        .then( async( res )=>{
            let data = await res.text(); 
            let x    = document.querySelector("main>div");
                x.innerHTML = marked.parse( data ); hljs.highlightAll();
                UIkit.scroll( document.querySelector("body") ).scrollTo();
        }).catch(( err )=>{
            window.location.hash = "#introduction";
        });
    }

    function load_content( el ) {
        try          { load( el.getAttribute("src") ); }
        catch( err ) { window.location.hash = "#introduction"; }
    }

    window.addEventListener( "load", ()=>{
        load_content( document.querySelector(`a[href="${window.location.hash}"]`) );
    });

    window.addEventListener( "hashchange", ()=>{
        load_content( document.querySelector(`a[href="${window.location.hash}"]`) );
    });

</script>