<div class="uk-flex-middle uk-flex-between@m uk-flex-center
            uk-padding-small uk-flex uk-background-black">

    <div class="uk-flex uk-breadcrumb">
        <a href="/info#about"        > About           </a>
        <a href="/info#codeofconduct"> Code of Conduct </a>
        <a href="/info#security"     > Security Policy </a>
        <a href="/info#contribution" > Contributing    </a> 
    </div>

    <div class="uk-flex uk-gap-large uk-visible@m">
        <a href="#"                                uk-tooltip="mastodon" uk-icon="icon:mastodon"></a>
        <a href="#"                                uk-tooltip="discord"  uk-icon="icon:discord"></a>
        <a href="https://www.reddit.com/r/Nodepp/" uk-tooltip="reddit"   uk-icon="icon:reddit"></a>
        <a href="https://github.com/NodeppOficial" uk-tooltip="github"   uk-icon="icon:github-alt"></a>
    </div>

</div>