<main class="uk-padding" uk-height-viewport="expand">

      <div content></div>
      
      <div class="uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1" 
           uk-grid="parallax:0; parallax-justify:true; masonry:pack">

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Ecosystem </h4>
        <ul class="uk-list">
            <li> <a href="#hash_passwords_with_argon2.md"> Hash Passwords With Argon2 </a> </li>
            <li> <a href="#authenticate_sessions_with_jwt.md"> Authenticate Sessions With JWT </a> </li>
            <li> <a href="#create_reverse_proxy_nginx.md"> Create A Reverse Proxy With Nginx </a> </li>
            <li> <a href="#create_web_server_expresspp.md"> Create A Web Server With ExpressPP </a> </li>
            <li> <a href="#create_db_redis_and_nodepp.md"> Create A DB With Redis And Nodepp </a> </li>
            <li> <a href="#create_db_sqlite_nodepp.md"> Create A DB With SQLITE And Nodepp </a> </li>
            <li> <a href="#create_db_mariadb_nodepp.md"> Create A DB With MariaDB And Nodepp </a> </li>
            <li> <a href="#create_db_postgres_nodepp.md"> Create A DB With Postgres And Nodepp </a> </li>
            <li> <a href="#simulate_mouse_nodepp_input.md"> Simulate Mouse With Nodepp And Input </a> </li>
            <li> <a href="#encrypt_message_wpgp.md"> Encrypt Message In Real-Time With WPGP </a> </li>
            <li> <a href="#http_request_over_tor_torify.md"> HTTP Request Over TOR With Nodepp And Torify </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Error Handling </h4> 
        <ul class="uk-list">
            <li> <a href="#except.md"> Except_t | Error Handling </a> </li>
            <li> <a href="#expect.md"> Expected_t | Error Handling </a> </li>
            <li> <a href="#optional.md"> Optional_t | Error Handling </a> </li>
            <li> <a href="#process_error.md"> Process::Error | Error Handling </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Async Processing </h4>
        <ul class="uk-list">
            <li> <a href="#popen.md"> Popen </a> </li>
            <li> <a href="#event.md"> Events </a> </li>
            <li> <a href="#timer.md"> Timers </a> </li>
            <li> <a href="#worker.md"> Workers </a> </li>
            <li> <a href="#cluster.md"> Cluster </a> </li>
            <li> <a href="#promise.md"> Promises </a> </li>
            <li> <a href="#observer.md"> Observers </a> </li>
            <li> <a href="#coroutine.md"> Coroutines </a> </li>
            <li> <a href="#generator.md"> Generators </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Network </h4>
        <ul class="uk-list">
            <li> <a href="#build_a_tcp_client.md"> Build A Simple TCP Client </a> </li>
            <li> <a href="#build_a_tcp_server.md"> Build A Simple TCP Server </a> </li>
            <li> <a href="#build_a_tls_client.md"> Build A Simple TLS Client </a> </li>
            <li> <a href="#build_a_tls_server.md"> Build A Simple TLS Server </a> </li>
            <li> <a href="#build_an_udp_client.md"> Build An Simple UDP Client </a> </li>
            <li> <a href="#build_an_udp_server.md"> Build An Simple UDP Server </a> </li>
            <li> <a href="#make_a_dns_request.md"> Make A Simple DNS Request </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Reading Files </h4>
        <ul class="uk-list">
            <li> <a href="#read_a_json_file.md"> Read a JSON file </a> </li>
            <li> <a href="#read_file_as_buffer.md"> Read File As Buffer </a> </li>
            <li> <a href="#check_if_file_exists.md"> Check If File Exists </a> </li>
            <li> <a href="#read_a_file_as_string.md"> Read A File As string </a> </li>
            <li> <a href="#read_a_file_as_filestream.md"> Read A File As FileStream </a> </li>
            <li> <a href="#get_the_mimetype_of_a_file.md"> Get The MIME type Of A File </a> </li>
            <li> <a href="#compress_and_decompress_files_using_zlib.md"> Compress And Decompress Files Using ZLIB </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Writing Files </h4>
        <ul class="uk-list">
            <li> <a href="#delete_a_file.md"> Delete A File </a> </li>
            <li> <a href="#write_to_stdout.md"> Write To Stdout </a> </li>
            <li> <a href="#write_string_to_a_file.md"> Write String To A File </a> </li>
            <li> <a href="#write_response_to_a_file.md"> Write Response To A File </a> </li>
            <li> <a href="#append_content_to_a_file.md"> Append Content To A File </a> </li>
            <li> <a href="#write_a_file_incrementally.md"> Write A File Incrementally </a> </li>
            <li> <a href="#copy_a_file_to_another_location.md"> Copy A File To Another Location </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Runtime </h4>
        <ul class="uk-list">
            <li> <a href="#garbage_collector.md"> Garbage Collector </a> </li>
            <li> <a href="#regular_expression.md"> Regular Expression </a> </li>
            <li> <a href="#convert_string_to_json.md"> Convert String to JSON </a> </li>
            <li> <a href="#convert_json_to_string.md"> Convert JSON to String </a> </li>
            <li> <a href="#read_environment_variables.md"> Read Environment Variables </a> </li>
            <li> <a href="#write_environment_variables.md"> Write Environment Variables </a> </li>
            <li> <a href="#convert_base64_to_plaintext.md"> Convert Base64 To Plaintext </a> </li>
            <li> <a href="#convert_plaintext_to_base64.md"> Convert Plaintext To Base64 </a> </li>
            <li> <a href="#ofuscate_plaintext_with_xor_encoding.md"> Ofuscate Plaintext With XOR Encoding </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> HTTP </h4>
        <ul class="uk-list">
            <li> <a href="#simple_http_server.md"> Simple HTTP Server </a> </li>
            <li> <a href="#simple_http_client.md"> Simple HTTP Client </a> </li>
            <li> <a href="#advanced_http_server.md"> Advanced HTTP Server </a> </li>
            <li> <a href="#simple_https_server.md"> Simple HTTP + TLS Server </a> </li>
            <li> <a href="#simple_https_client.md"> Simple HTTP + TLS Client </a> </li>
            <li> <a href="#common_http_server_usage.md"> Common HTTP Server Usage </a> </li>
            <li> <a href="#start_a_cluster_of_http_servers.md"> Start A Cluster Of HTTP Servers </a> </li>
            <li> <a href="#stream_a_file_as_an_http_response.md"> Stream A File As An HTTP Response </a> </li>
            <li> <a href="#stream_a_compressed_file_as_an_http_response.md"> Stream A Compressed File As An HTTP Response </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> Cryptography </h4>
        <ul class="uk-list">
            <li> <a href="#hashing_content_in_nodepp.md"> Hashing Content In Nodepp </a> </li>
            <li> <a href="#signing_content_with_hmac.md"> Signing Content With HMAC </a> </li>
            <li> <a href="#ofuscating_content_with_xor.md"> Ofuscating Content With XOR </a> </li>
            <li> <a href="#generating_public_private_keys_with_ec.md"> Generating Public & Private Keys With EC </a> </li>
            <li> <a href="#symmetric_encryption_decryption_content.md"> Symmetric Encryption & Decryption Content </a> </li>
            <li> <a href="#asymmetric_encryption_Decryption_with_rsa.md"> Asymmetric Encryption & Decryption With RSA </a> </li>
        </ul> </div>

        <div class="uk-padding-small"> 
        <h4 class="uk-text-center uk-border uk-rounded"> WebSocket </h4>
        <ul class="uk-list">
            <li> <a href="#build_a_simple_ws_client.md"> Build A Simple WS Client </a> </li>
            <li> <a href="#build_a_simple_ws_server.md"> Build A Simple WS Server </a> </li>
            <li> <a href="#build_a_simple_wss_client.md"> Build A Simple WS + TLS Client </a> </li>
            <li> <a href="#build_a_simple_wss_server.md"> Build A Simple WS + TLS Server </a> </li>
        </ul> </div>

      </div>

</main> <hr>

<script>

    function load( path ) {
        if( path.length == 0 ){ return; }
        fetch( `${window.origin}/Guides/${path}` )
        .then( async( res )=>{
            let data = await res.text(); 
            let x    = document.querySelector("main>div");
                x.innerHTML = marked.parse( data ); hljs.highlightAll();
                UIkit.scroll( document.querySelector("body") ).scrollTo();
        }).catch(( err )=>{
            window.location.href = "/Guides";
        });
    }

    window.addEventListener( "load", ()=>{
        load( window.location.hash.slice(1) );
    });

    window.addEventListener( "hashchange", ()=>{
        load( window.location.hash.slice(1) );
    });

</script>