<div uk-sticky>
<nav class="uk-navbar-container uk-padding uk-padding-remove-vertical uk-background-black" uk-navbar>

    <div class="uk-navbar-left">
        <h1 class="uk-logo uk-navbar-nav uk-text-bold"> <a href="/"> Nodepp </a> </h1>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/docs"  class="uk-text-hover-orange"> Docs    </a></li>
            <li><a href="/guide" class="uk-text-hover-orange"> Guides  </a></li>
            <li><a href="/blog"  class="uk-text-hover-orange"> Blog    </a></li>
            <li><a href="https://github.com/NodeppOficial" uk-icon="icon:github-alt" class="uk-text-hover-orange"> </a></li>
        </ul>
    </div>

</nav> <hr> 
</div>