<meta name="robots"      content="index, follow"/>

<meta name="author"      content="Enmanuel D Becerra C" />
<link rel="canonical"    href="https://plaid-aspiring-line.glitch.me/"/>
<meta name="keywords"    content="cpp, cpp11, programming, web development, nodepp, asynchronous programming, reactive programming"/>
<meta name="description" content="Nodepp is an innovative open source project that aims to make it easier to create applications in C++. This project introduces a high-level abstraction layer that allows developers to write C++ code in a way that is similar to how they would write code in NodeJS. With Nodepp, developers can leverage the advantages of the C++ language while benefiting from the ease of use and flexibility that NodeJS offers. This unique combination of features makes Nodepp a powerful tool for creating high-performance and scalable applications. Additionally, since it is an open source project, anyone can contribute and improve Nodepp to fit their specific needs."/>

<meta name="og:type"     content="website"/>
<meta name="og:url"      content="https://plaid-aspiring-line.glitch.me/" />
<meta name="og:title"    content="Nodepp | C++ Framework for asynchronous programming"/>
<meta name="og:image"    content="https://miro.medium.com/v2/resize:fit:720/format:webp/1*aCIXNR4c2B8dMAWQi3bPiA.jpeg" />
