<meta name="robots"      content="index, follow"/>

<link rel="canonical"    href="<!--ORIGIN-->"/>
<meta name="author"      content="<!--AUTHOR-->" />
<meta name="description" content="<!--DESCRIPTION-->"/>

<meta name="og:type"     content="website"/>
<meta name="og:title"    content="<!--TITLE-->"/>
<meta name="og:image"    content="<!--IMAGE-->" />
<meta name="og:url"      content="<!--ORIGIN-->" />

<meta name="keywords"    content="cpp, cpp11, programming, web development, nodepp, asynchronous programming, reactive programming"/>