:root {
    --system-font: monospace ;
}

* { font-family: var( --system-font ); }

*::selection { 
    background-color: #0000006b;  
    border-radius: 10px;
    color: orange;
}

h1, h2, h3, h4, h5, h6, .uk-logo { 
    font-weight: bold; 
}

hr { 
    margin: 0px;
    background-color: #eeeeee2c;
}

[code] code {
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
}

pre { 
    height: 100%;
    border-color: #00000000;
    background-color: #00000000; 
}

[uk-dark] { background-color: #0e0e0e !important; }

[code-button] li button { margin: 0px !important; }
[code-button] li { padding: 3px; margin: 0px !important; }
[arduino] { filter:drop-shadow( 0px 0px 10px black ); }

.uk-button-default { 
    border-radius: 10px; 
    color: #000 !important;
    border-color: #00000000 !important;
    background-color: orange !important;
}

.uk-button-default:hover {
    color: orange !important;
    border-color: orange !important;
    background-color: #00000000 !important;
}

strong { 
    background-color: #0000006b !important;
    color: orange !important;
    border-radius: 10px;
}

.uk-navbar-nav a {
    color: #eee !important;
}

.uk-button, a {
    font-weight: bold;
}

.uk-navbar-nav a:hover, .uk-button-link:hover, h3 {
    color: orange !important;
}

nav { z-index: 1000; }